/* You can add global styles to this file, and also import other style files */
/* Configurações iniciais globais*/
html {
    background-color: #d7e1e2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}






