/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  background-color: rgb(166, 196, 196);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

