h1 {
    margin-top: 20px;
    color: #ebe7f0;
}


a {
  font-size: 20px;
  font-weight: 600;
  color: #d9e3e9;
  background-color: #3a4131;
  border-radius: 10px;
  padding: 10px;
  height: 30px;
  min-width: fit-content;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.cabecalho .botoes a {
  text-decoration: none;
  margin: auto 10px;
}

.cabecalho .titulo {
  margin-right: auto;
}

.cabecalho .titulo h1 {
  color: #4a9deb;
}

.botoes {
  display: flex;
  justify-content: flex-end;
} 


header {
    background-color: rgb(233, 189, 158);
    height: 140px;
}

h1, h2, h3, p {
    text-align: center;
    padding: 20px;
}

h3, h2, p {
    color: #f3efd4;
}

button {
  height: 50px;
  width: 100px;
  background-color: #93daca;
  border: none;
  border-radius: 16px;
  font-size: 20px;
  color: #374744;
  font-weight: 800;
}


button:hover {
  background-color: #b4ddd3;
}

button:active {
  background-color: aquamarine;
}

.botao {
  display: flex;
  justify-content: center;
}

a:hover {
  background-color: #7f9b94;
}

a:active {
  background-color: rgb(96, 170, 145);
}
