 <header>
  <div class="cabecalho">
    <div><img src="/assets/box.png" alt="icone caixa"></div>
    <h1>CRUD de Produtos</h1>
    <a href="">Cadastrar Produto</a>
    <a href="">Início</a>
  </div>
 </header>

 <h1>{{ title }}</h1>
 <h2>{{ titulo }}</h2>

 <h3>Jhonny Alves de Souza Azevedo</h3>

 <p>Este é meu primeiro projeto utilizando Angular!</p>

 <div class="botao"><button (click)="buttonClicked()">Click</button></div>

 <!-- versão antiga onclick="" -->
 <!-- versão Angular = (click)-->
 <!-- Typescript auxilia para previnir erros -->

