h1 {
  color: rgb(59, 59, 59);
  text-align: center;
}

.form-product {
  margin: 0 auto;
  max-width: 500px;
  border: 1px solid rgba(40, 40, 66, 50%);
  border-radius: 5px;
  background-color: rgba(40, 40, 66, 50%);
  width: 60vw;
  min-width: 300px;
  /*padding: top right bottom left*/
  padding: 2em 2em 2em 1.4em;
  align-items: center;
}

#name,#description,#code,#costPrice,#salePrice,#preparationTime{
  width: 100%;
  /*margin: top right bottom left*/
  margin: 2px 0 0 0;
  min-height: 2em;/*define uma atura mínima para os elementos*/
  border-radius: 5px;
  border-color: rgba(40, 40, 66, 50%);
  color: rgb(107, 108, 107);
}

select {
  width: 60%;
  /*margin: top right bottom left*/
  margin: 2px 0 0 0;
  min-height: 2.5em;/*define uma atura mínima para os elementos*/
  border-radius: 5px;
  border-color: rgba(40, 40, 66, 50%);
  color: rgb(107, 108, 107);
}

label {
  display: block;
  margin: 1rem 0;
  color: rgb(255, 255, 255);
}

#submit {
  display: block;
  width: 95%;
  margin: 1em auto 1em auto;/*centralizando o input*/
  height: 2em;
  font-size: 1.1rem;
  background-color: #0ab74f;
  border: none;
  color: white;
  border-radius: 5px;
}

